{% extends "layout.html" %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Books (book.py)</h3>
    <div>
      <input id="bookIsbn" data-quick="add" class="form-control d-inline-block me-2" placeholder="ISBN" style="width:160px">
      <input id="bookTitle" class="form-control d-inline-block me-2" placeholder="Title" style="width:220px">
      <input id="bookAuthor" class="form-control d-inline-block me-2" placeholder="Author" style="width:180px">
      <input id="bookCopies" class="form-control d-inline-block me-2" placeholder="Copies" style="width:90px">
      <button id="addBookBtn" class="btn btn-success">Add Book</button>
    </div>
  </div>

  <div id="booksList" class="list-group"></div>
{% block scripts %}
  <script src="/static/books.js"></script>
{% endblock %}
{% endblock %}
